<section class="tickets-list-controls">
    <section class="sort">sorting</section>
    <section class="filter">filtering</section>
</section>
<section class="tickets-content">
    <section class="action-bar">
        <h2 class="title">action bar tile</h2>
        <section class="button-group">
            <button>add</button>
            <button>edit</button>
            <button>clear</button>
            <button>save</button>
        </section>
    </section>
    <section class="tickets-list">tickets list</section>
</section>
